* {
	font-family: Verdana, Tahoma, sans-serif;
}

body {
	background-color: #ffffed;
}

a {
	color: #ffffed;
	text-decoration: none;
}

a:hover {
	color: hotpink;
}

/*----------------
NAV
------------------*/

nav {
	background-color: #004225;
	color: #ffffed;
}

.nav-item {
	margin: 0 20px 0 20px;
}

.navbar-toggler {
	margin-left: 10px;
}

.offcanvas-header {
	margin: 10px 0 0 10px;
}

.home {
	font-weight: bold;
	color: white;
}

/*Adjust for header spacing on fragment links*/
#about::before,
#projects::before {
	content: "";
	display: block;
	height: 90px;
	margin-top: -90px;
	visibility: hidden;
}

/*----------------
MAIN
------------------*/

main {
	margin-top: 80px;
	margin-bottom: 80px;
	text-align: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

section {
	margin-top: 3rem;
	margin-bottom: 3rem;
}

h1 {
	font-size: 3rem;
	font-weight: bolder;
	color: hotpink;
	padding: 0.2rem 0 0.2rem 0;
	text-align: center;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
	color: #004225;
}

h4 {
	font-size: 1.2rem;
}

p {
	font-size: 16px;
}

/*----------------
PROFILE
------------------*/

.profile-title {
	text-align: left;
}

.profile-text {
	width: 40%;
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}

.profile-image {
	border-radius: 50%;
	width: 20rem;
}

/*----------------
ABOUT
------------------*/

.about-intro {
	width: 80%;
	margin: auto;
}

.skills-table {
	text-align: left;
	margin: auto;
}

.skills-table td {
	padding: 0.5rem;
}

/*----------------
PROJECTS
------------------*/

.projects-intro {
	margin-bottom: 30px;
}

.projects {
	display: flex;
	justify-content: center;
}

.project-card {
	max-width: 18rem;
}

.card-img-top {
	margin-top: 10px;
	border: solid 2px #004225;
	height: 20rem;
	object-fit: cover;
}

.card-button {
	background-color: #ff69b4;
	border: none;
	border-radius: 8px;
	padding: 20px;
	text-align: center;
	color: white;
	font: bolder;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 2px 2px;
}

/*----------------
BLOG INDEX
------------------*/

.blog-cards {
	display: flex;
	justify-content: center;
}

.blog-card-title,
.blog-card-text {
	color: black;
}

/*----------------
BLOG + PROJECT PAGES
------------------*/

.content-page {
	text-align: left;
}

.content-left {
	display: inline-block;
	float: left;
	padding-right: 2rem;
}

.content-right {
	display: inline-block;
	float: right;
	padding-left: 2rem;
}

.content-image {
	max-height: 15rem;
	max-width: 20rem;
	margin: 2rem 0 2rem 0;
	border-radius: 5;
	border: solid 2px #004225;
}
/*----------------
FOOTER
------------------*/

footer {
	background-color: #004225;
	text-align: center;
	padding: 0.25rem 0.5rem 0.25rem 0.5rem;
	bottom: 0;
	height: 4rem;
}

.icon-col {
	width: 25%;
}

.contact-col {
	width: 50%;
}

.contact {
	padding-top: 1rem;
	font-weight: bold;
}

.footer-icon {
	height: 2.8rem;
	margin-top: 5px;
	margin-bottom: 5px;
}

/*----------------
MEDIA
------------------*/

@media only screen and (max-width: 678px) {
	.profile-text,
	.profile-title {
		text-align: center;
		width: 80%;
		margin: auto;
	}

	.content-left,
	.content-right {
		padding: 0;
		width: 100%;
	}
}
